<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="com.codesolid"/>

    <bean id="priorityRequest" name="priorityRequest" class="home.work.queue.models.PriorityRequest">
        <property name="customerId" value="5" />
        <property name="date" value="2017-06-19 09:00:00"/>
    </bean>

</beans>